# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\dr\Emk\mark\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
